
.nav-link[data-toggle].collapsed:after {
    content: " ▾";
  }
  .nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
  }
  /* sidebar fixed */
  .row:first-child{
    margin-top: 0px!important;
  }
  /* image part start */

.YzuTm {
  text-align: center;
}
.cCiYxb {
  display: inline-block;
}
.sidebar2 .YzuTm img {
  margin: 15px auto;
  height: 30px;
}

.hZCbNs {
    max-height: 260px;
    max-width: 260px;
    padding: 1px;
    /* width: 100%; */
    display: block;
}

.jzMYjV {
    width: 260px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    position: sticky;

}
  /* blue side part section start */
.dtUibw, .fLUKgj {
    background: #011f3f !important;
}

.fLUKgj {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px; 
    width: calc(53% - 72px);
}
.iniCdN {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: calc(100% - 260px);
    contain: layout;
}
.dTJWQH {
    color: #0857ab !important;
    font-weight: 600;
    /* text-align: left; */
}
.dluJDj, .hiuczA {
    padding: 10px 0;
}
.hiuczA {
    position: relative;
}


/* hover part start */
.gcUzvG:hover {
    background-color: rgb(237, 237, 237);
}

.gpbcFk:hover {
    background-color: rgb(225, 225, 225);
}
/* middle part section start */
.bSFXlp {
    display: flex;
    width: 100%;
    padding: 0px;
    backface-visibility: hidden;
    contain: content;
    overflow: hidden;
}
.dtUibw {
    width: 40%;
    color: rgb(255, 255, 255);
    padding: 0px 40px;
    
}
.ldTMcP {
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
}
.eesUPo {
  display: flex;
  width: 100%;
  padding: 0px;
}
.cjtbAK {
  width: calc(55%);
  padding: 0px 40px;
}
.dTJWQH {
  color: #0857ab !important;
  font-weight: 700;
}
.flfxUM {
  
  font-weight: 400;
  line-height: 1.5em;
}

/* search bar content part */
.kKQhLA {
    padding: 5px 10px;
}
.search-input {
    font-weight: 400;
}
.kzNiFq {
    width: calc(100% - 10px);
    box-sizing: border-box;
    padding: 5px 10px 5px 20px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 225, 225);
    font-size: 13px;
    color: rgb(51, 51, 51);
    background-color: transparent;
    outline: none;
}
.ibpoCO {
  position: absolute;
  left: 20px;
  height: 1.8em;
  width: 0.9em;
}


/* new sidebar full responsive */
.sidebar2 {
    margin: 0;
    padding: 0;
    width: 270px;
    background: #fafbff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar2 a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    margin-left: 10%;
  }
   
  /* .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  } */
  
  /* .sidebar2 a:hover:not(.active) {
    background-color: #555;
    color: white;
  } */
  
  div.content {
    margin-left: 255px;
    padding: 1px 16px;
    height: 500vh;
    /* text-align: center; */
  }
 
 
  @media screen and (max-width: 767px) {
    .sidebar2 {
        width: 100%; /* Full width on small screens */
        padding: 5px;
    }

    .sc-feJyhm, .sc-esOvli {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input {
        width: calc(100% - 40px); /* Adjust input width to fit within container */
    }

    .nav-item {
        text-align: center; /* Center text on small screens */
    }

    .nav-item .nav-link {
        display: block;
        padding: 10px;
    }

    .nav-item .nav-link span {
        display: inline; /* Show all text */
    }
    .content {
      padding: 10px;
  }

  .api-content h1, .api-content h2 {
      font-size: 20px;
  }

  .api-content p {
      font-size: 14px;
  }

  .api-content h5 {
      font-size: 16px;
  }
  
  .sc-gqjmRU.LiUBH {
      font-size: 14px;
  }

  table {
      width: 100%;
      overflow-x: auto;
      display: block;
  }
  
}
 
@media screen and (max-width: 700px) {
  .sidebar2 {
    /* width: 100%; */
    height: auto;
    position: relative;
  }
  .sidebar2 a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 555px) {
  .sidebar2 a {
    text-align: center;
    float: none;
  }
  
  
}
 

