.root {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
  
  .label {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }

  /* .rs-stack-item  {
    background-color: var(--bg-rs-item-card) !important;
    color: var(--text-color);
  } */

  .account-card {
    background-color: var(--bg-account-card) !important;
  }

  .m_1b7284a3 {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
  }