.transaction-widget {
    /* width: 26rem; */
    /* background: white; */
    font-family:Greycliff CF, var(--mantine-font-family);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 3px 3px;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    /* border-bottom: 1px solid #e0e0e0; */
  }
  
  .title {
    font-weight: bold;
    /* color: #333; */
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    /* font-size: small; */
  }
  
  .menu-icon {
    /* color: #888; */
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    cursor: pointer;
  }
  
  .transactions-list {
    padding: 5px 10px;
  }
  
  .transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    /* border-bottom: 1px solid #f0f0f0; */
  }
  
  .transaction-info {
    display: flex;
    flex-direction: column;
  }
  


  .transaction-name {
    font-weight: bold;
  
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    font-size: 0.65em;;
  }
  
  .transaction-symbol {
    font-size: 0.4em;
    color: #777;
  }
  
  .transaction-details {
    display: flex;
    align-items: center;
  }
  
  .transaction-change {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .transaction-change.positive {
    color: #28a745; /* Green for positive change */
  }
  
  .transaction-change.negative {
    color: #dc3545; /* Red for negative change */
  }
  
  .transaction-value {
    font-weight: bold;
    color: #333;
    font-size: 0.6em;
  }
  

  .transaction-chart {
    width: 80px;
    margin-top: 4px;
  }
  
  .footer {
    text-align: right;
    /* padding: 3px 10px; */
    border-top: 1px solid #e0e0e0;
  }
  
  .see-more {
    color: #007bff;
    text-decoration: none;
    font-size: 0.5em;
  }
  
  .see-more:hover {
    text-decoration: underline;
  }
  
  /* .account-card {
    background-color: var(--bg-account-card) !important;
  }

  .m_1b7284a3 {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
  } */

  