
/* section {
    padding: 20px;
    margin: 20px 20px;
} */
:root:has(input.theme-controller[value=synthwave]:checked) {
    color-scheme: dark;
    --b2: 20.2941% .076211 287.835609;
    --b3: 18.7665% .070475 287.835609;
    --pc: 14.4421% .031903 342.009383;
    --sc: 15.6543% .02362 227.382405;
    --ac: 17.608% .0412 93.72;
    --rounded-box: 1rem;
    --rounded-btn: .5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: .25s;
    --animation-input: .2s;
    --btn-focus-scale: .95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: .5rem;
    --p: 72.2105% .159514 342.009383;
    --s: 78.2714% .118101 227.382405;
    --a: 88.04% .206 93.72;
    --n: 25.5554% .103537 286.507967;
    --nc: 97.9365% .00819 301.358346;
    --b1: 21.8216% .081948 287.835609;
    --bc: 97.9365% .00819 301.358346;
    --in: 76.5197% .12273 231.831603;
    --inc: 23.5017% .096418 290.329844;
    --su: 86.0572% .115038 178.624677;
    --suc: 23.5017% .096418 290.329844;
    --wa: 85.531% .122117 93.722227;
    --wac: 23.5017% .096418 290.329844;
    --er: 73.7005% .121339 32.639257;
    --erc: 23.5017% .096418 290.329844;
  }
  
  [data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #333333;
    --heading-color: #444444;
    --paragraph-color: #4e525f;
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --border-color: #0f172a1a;
    --bg-sky-30-hover: #38bdf833;
    --bg-slate-900: #0f172a1a;
  }
  
  /* Dark mode styles */
  [data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
    --heading-color: #dddddd;
    --paragraph-color: #f0e9e9e0;
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --border-color: #0f172a1a;
   --bg-slate-900: #0f172abf;
  }
  
.box8 {
    /* background-color: #fafbff; */
    padding: 0rem 2rem;
    margin-top: 7rem !important;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 1px #999;
}
.box8 a{
    font-size: 16px;
}
.security-section h3 {
    font-weight: 800;
    font-size: 30px;
    margin-top: 6rem;
    text-align: center;
}
h5 {
    /* color: #1E2A39; */
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 22px;
}
p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* color: var(--paragraph-color); */
}
.box8 .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-right: 1px solid #212529 !important;
    border-top: 1px solid #212529 !important;
    border-left: 1px solid #212529 !important;
  }
  .box8 .table td {
    padding: 0.75rem;
    vertical-align: top;
    border:1px solid #212529 !important;
  }
