@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;
body{
    /* background:#e9ecef; */
    height: 100%;
}

:root:has(input.theme-controller[value=synthwave]:checked) {
  color-scheme: dark;
  --b2: 20.2941% .076211 287.835609;
  --b3: 18.7665% .070475 287.835609;
  --pc: 14.4421% .031903 342.009383;
  --sc: 15.6543% .02362 227.382405;
  --ac: 17.608% .0412 93.72;
  --rounded-box: 1rem;
  --rounded-btn: .5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: .25s;
  --animation-input: .2s;
  --btn-focus-scale: .95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: .5rem;
  --p: 72.2105% .159514 342.009383;
  --s: 78.2714% .118101 227.382405;
  --a: 88.04% .206 93.72;
  --n: 25.5554% .103537 286.507967;
  --nc: 97.9365% .00819 301.358346;
  --b1: 21.8216% .081948 287.835609;
  --bc: 97.9365% .00819 301.358346;
  --in: 76.5197% .12273 231.831603;
  --inc: 23.5017% .096418 290.329844;
  --su: 86.0572% .115038 178.624677;
  --suc: 23.5017% .096418 290.329844;
  --wa: 85.531% .122117 93.722227;
  --wac: 23.5017% .096418 290.329844;
  --er: 73.7005% .121339 32.639257;
  --erc: 23.5017% .096418 290.329844;
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
  --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
  --paragraph-color: #4e525f;
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 24.6 95% 53.1%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 24.6 95% 53.1%;
  --radius: 0.5rem;
  --border-color: #0f172a1a;
  --bg-sky-30-hover: #38bdf833;
  --bg-slate-900: #0f172a1a;
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
  --paragraph-color: #f0e9e9e0;
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 20.5 90.2% 48.2%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 20.5 90.2% 48.2%;
  --border-color: #0f172a1a;
 --bg-slate-900: #0f172abf;
}

.theme {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.h-theme{
  background-color: var(--bg-color);
  color: var(--heading-color);
}

.main-content {
  background-color: var(--heading-color);
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--heading-color);
}


.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}



.mt-6 {
  margin-top: 1.5rem /* 24px */;
}

.p-6 {
  padding: 1.5rem /* 24px */;
}

.max-w-6xl {
  max-width: 72rem /* 1152px */;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w-6xl {
  max-width: 72rem /* 1152px */;
}

.font-bold {
  font-weight: 700;
}

.mb-6 {
  margin-bottom: 1.5rem /* 24px */;
}


.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem /* 24px */ * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem /* 24px */ * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem /* 16px */ * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem /* 16px */ * var(--tw-space-y-reverse));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) /* #ffffff */;
}


.rounded-lg {
  border-radius: 0.5rem /* 8px */;
}

.p-4 {
  padding: 1rem /* 16px */;
}


.font-medium {
  font-weight: 500;
}

.mb-2 {
  margin-bottom: 0.5rem /* 8px */;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem /* 8px */;
}


.w-3 {
  width: 0.75rem /* 12px */;
}

.h-3 {
  height: 0.75rem /* 12px */;
}


.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity)) /* #22c55e */;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) /* #ffffff */;
}

.rounded-lg {
  border-radius: 0.5rem /* 8px */;
}

.items-center {
  align-items: center;
}

.rounded-full {
  border-radius: 9999px;
}

.text-sm {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}


.justify-between {
  justify-content: space-between;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity)) /* #6b7280 */;
}
/* @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
   
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
   
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 47.4% 11.2%;
   
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
   
      --card: 0 0% 100%;
      --card-foreground: 222.2 47.4% 11.2%;
   
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
   
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
   
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
   
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 215 20.2% 65.1%;
   
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;
   
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
   
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
   
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
   
      --border: 216 34% 17%;
      --input: 216 34% 17%;
   
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
   
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
   
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
   
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 216 34% 17%;
   
      --radius: 0.5rem;
    }
  }
   
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  } */

  .AppGlass {
    display: grid;
    height: 97%;
    width: 97%;
    background: var(--glass);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
  }
  
  @media screen and (max-width: 1200px) {
    .AppGlass{
      grid-template-columns: 10% 50% auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .AppGlass{
      grid-template-columns: 1fr;
    } 
  }